<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../assets/css/materialize.css" media="screen" />
    <title>Sign Up</title>
</head>
<body>


<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Taller Mecanico</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="../../index.php">HOME</a></li>
      <li><a href="module-signUp/signUp.html">Reporte</a></li>
    </ul>
  </div>
</nav>

   
 <div class="container" >
    <div class="row col m12">
    <div class="card col s8 offset-s2">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="">
        </div>
        <div class="card-content">
          <span class="card-title activator center-align  grey-text text-darken-4">Registro de clientes</span>
          

            <!--formulario-->
            <form action="?action=guardar" method="POST">

                     <div class="row">
                        <div class="input-field col s12">
                          <input id="nombres" type="text" class="validate">
                          <label for="nombres">Nombres</label>
                          <span class="helper-text" data-error="Error los nombres no llevan números" data-success="correcto!">Nombres del Cliente</span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12">
                          <input id="apellidos" type="text" class="validate">
                          <label for="apellidos">Apellidos</label>
                          <span class="helper-text" data-error="Error los nombres no llevan números" data-success="correcto!">Apellidos del Cliente</span>
                        </div>
                      </div>
        

                      

                      <label>Seleccione Nacionalidad</label>
                        <select class="input-field">
                            <option value="" disabled selected>Elija su opción</option>
                            <option value="Colombiano">Colombiano</option>
                            <option value="Extranjero">Extranjero</option>
                        </select>


                        <div class="row">
                            <div class="input-field col s12">
                              <input id="doc" type="number" class="validate">
                              <label for="doc">Numero de Documento</label>
                              <span class="helper-text" data-error="Error el número de documento no lleva letras" data-success="correcto!">Número de documento  del Cliente</span>
                            </div>
                          </div>


              
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="email" type="email" class="validate">
                          <label for="email">Correo Electrónico</label>
                          <span class="helper-text" data-error="Error formato del correo no valido" data-success="correcto!">Correo Electrónico del Cliente</span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12">
                          <input id="direccion" type="text" class="validate">
                          <label for="direccion">Dirección</label>
                          <span class="helper-text" data-error="Error los nombres no llevan números" data-success="correcto!">Nombres del Cliente</span>
                        </div>
                      </div>


                      <div class="row">
                        <div class="input-field col s12">
                          <input id="telefono" type="number" class="validate">
                          <label for="telefono">Telefono</label>
                          <span class="helper-text" data-error="Error corrija el numero de Telefono" data-success="correcto!">Nombres del Cliente</span>
                        </div>
                      </div>

                    </form>

                  </div>

                  <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                  </button>

            </form><!--fin del form de registro de usuarios-->

        </div>
      </div>
                
    </div>
 </div> 
  


 

  <script src="assets/js/jQuery.min.js"> </script>
  <script src="assets/js/materialize.js"> </script>  
  <script type="text/javascript">
    $(document).ready(function(){
      $('select').formSelect();
    });
  </script>

</body>
</html>